.companions__card {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 22px;
}

.companions__button {
  padding-top: 14px;
}

.companions__pagination {
  padding-top: 27px;
  padding-bottom: 46px;
}
