.companions__list {
  list-style: none;
}

.companions__card {
  margin-bottom: 10px;
}

.companions__button {
  padding-top: 14px;
}

.companions__pagination {
  padding-top: 27px;
  padding-bottom: 46px;
}