.country-card__info {
  background-color: #ffffff;
}

.country-card__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #161c35;
}

.country-card__description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #444444;

  opacity: 0.3;
}

.country-card__views {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #444444;

  opacity: 0.3;
}
