.intro {
  padding-bottom: 39px;

  background-color: #161c35;
  background-image: url("../../img/traveller-illustration-mobile@1x.png"), url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, 0 0;
}

.intro__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}
