.page-main {
  background-color: #edeff6;
}

.page-main__header {
  padding-top: 30px;
  padding-bottom: 11px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;

  background-color: #161c35;
}