.travelmates {
  padding-top: 73px;
  padding-bottom: 30px;

  background-color: #192144;
  background-image: url("../../img/smolov-back-desktop@1x.png"), url("../../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat no-repeat;
  background-position: 100% 0, 0 0;
}

.travelmates__list {
  list-style: none;
}
